/*                     TO DO                     */

/*                   VARIABLES                   */
:root {
    --bg-color: rgb(255, 255, 255);
    --bg-offset-color: rgb(237, 237, 237);
    --primary-color: rgb(67, 160, 67);
    --secondary-color: rgb(43, 124, 43);
    --accent-color: rgb(76, 181, 76);
    --hyperlink: rgb(62, 220, 237);
    --hyperlink-used: rgb(29, 102, 110);
}

/*                  LOGO DISPLAY                 */
figure{
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: auto;
}

figure img{
    width: 15vmax;
    height: 15vmax;
}

figure figcaption{
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-weight: bold;
    text-align: center;
    font-size: 3vmax;
    color: var(--primary-color);
}
/*                      MAIN                     */
main{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 1.5vmin;
}

main img{
    height: 12vw;
    min-width: 10rem;
    width: 12vw;
    min-height: 10rem;
    border-radius: 10px;
    border: solid var(--accent-color) 2px;
    margin-left: 2vmax;
}

main article h1{
    color: var(--secondary-color);
    font-size: 3vw;
    margin-bottom: 1vw;
}

main article p{
    margin-bottom: 0.5vmax;
}

main article div{
    display: inline-block;
    margin-top: 1vmax;
    margin-left: 0;
}

/*                   ANIMATIONS                  */

