@use "modules/style";

a {
    text-decoration: none;
    color: map-get(style.$colors, 'hyperlink');

    &:hover {
        color: map-get(style.$colors, 'accent');
    }

    &:visited {
        color: map-get(style.$colors, 'hyperlink-used')
    }
}

p {
    @extend %quicksand;
}

footer {
    @extend %quicksand;
    background-color: map-get(style.$colors, 'bg-offset')-color;
    border-radius: 2rem 2rem 0 0;
    border-top: map-get(style.$colors, 'accent') 2px solid;
    border-right: map-get(style.$colors, 'accent') 2px solid;
    border-left: map-get(style.$colors, 'accent') 2px solid;
    padding: 1vmin;
    margin-top: 2vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    img {
        height: 3vw;
        min-height: 2rem;
        width: 3vw;
        min-width: 2rem;
    }

    aside {
        font-size: 1.75vmin;
        min-font-size: 4rem;
        text-align: end;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-evenly;
    }
}

label {
    @extend %quicksand;
}

button {
    @extend %quicksand;
}

input {
    @extend %quicksand;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5em;
    border: 2px solid map-get(style.$colors, 'accent');
}

textarea {
    @extend %quicksand;
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5em;
    border: 2px solid map-get(style.$colors, 'accent');
}

#list-order {
    @extend %quicksand;
}

h1 {
    @extend %ubuntu;
}

h2 {
    @extend %ubuntu;
}

header {
    @extend %ubuntu;
    background-color: map-get(style.$colors, 'bg');
    border-radius: 0 0 2rem 2rem;
    border-bottom: map-get(style.$colors, 'accent') 2px solid;
    border-right: map-get(style.$colors, 'accent') 2px solid;
    border-left: map-get(style.$colors, 'accent') 2px solid;
    padding-bottom: 1vmax;
    padding-top: 1vmax;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-bottom: 1vw;

    img {
        margin-left: 1rem;
        width: 7rem;
        height: 7rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        margin-top: 2vmax;
        padding-right: 2vw;
        width: content-box;
    }
}

main {
    a {
        @extend %ubuntu;
    }

    margin-left: 2em;
    margin-right: 2em;
}

figure {
    figcaption {
        @extend %ubuntu;
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-weight: bold;
        text-align: center;
        color: var(--primary-color);
        font-size: 2vmin;
        min-font-size: 3rem;
    }
}

h3 {
    @extend %ubuntu;
}

legend {
    @extend %ubuntu;
}

h4 {
    @extend %ubuntu;
}

body {
    margin-left: 3vmax;
    margin-right: 3vmax;
    background-color: map-get(style.$colors, 'bg-offset');
}

html {
    background-color: map-get(style.$colors, 'bg')
}

.button {
    height: min-content;
    padding: 0.5vmax;
    background-color: map-get(style.$colors, 'bg-offset');
    border: black 2px solid;
    border-radius: 10px;
}

nav {
    .button {
        display: inline;
        margin-left: 1vmax;
    }
}

span {
    margin-right: 1vmax;
    height: 1vmax;
    width: 1vmax;
}

select {
    text-decoration: none;
    border-radius: 10px;
    padding: 0.5em;
    border: 2px solid map-get(style.$colors, 'accent');
}

.placeholder {
    h1 {
        font-size: 3vw;
        text-align: center;
    }

    span {
        padding-right: 4vw;
        color: map-get(style.$colors, 'accent');
    }
}
