/*                     TO DO                     */
/*              GLOBAL HTML ELEMENTS             */
/*           APPLIED ON MULTIPLE PARTS           */
/*               LIST LANDING PAGE               */
main .grocery-list-overview{
    background-color: var(--bg-color);
    border: var(--secondary-color) solid 2px ;
    border-radius: 10px;
    padding: 1vw;
    width: 80%;
}

main .grocery-list-overview h1{

}

main .grocery-list-overview section {
    border: var(--accent-color) solid 2px ;
    border-radius: 10px;
    padding: 1vw;
}

main .grocery-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ". ." ". ." ". .";
    grid-row-gap: 2em;
    grid-column-gap: 2em;
    padding: 0;
    margin-left: 0;
    margin-bottom: 2em;
    border: none;
}

.list-property{
    text-decoration: underline;
}

span[class^="fas"]{
    text-decoration: none;
}
/*                   ANIMATIONS                  */
