@use 'style';
@use 'typography';

%button{
    height: min-content;
    padding: 0.5vmax;
    background-color: map-get(typography.$colors, 'button-bg');
    border: black 2px solid;
    border-radius: 10px;
}
