$colors: (
    bg: rgb(255, 255, 255),
    button-bg: rgb(255, 255, 255),
    bg-offset: rgb(237, 237, 237),
    primary: rgb(67, 160, 67),
    secondary: rgb(43, 124, 43),
    accent: rgb(76, 181, 76),
    hyperlink: rgb(0, 0, 0),
    hyperlink-used: rgb(29, 102, 110)
);

$quicksand: 'Quicksand', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
