/*                     TO DO                     */
/*                   VARIABLES                   */
:root {
    --bg-color: rgb(255, 255, 255);
    --bg-offset-color: rgb(237, 237, 237);
    --primary-color: rgb(67, 160, 67);
    --secondary-color: rgb(43, 124, 43);
    --accent-color: rgb(76, 181, 76);
    --hyperlink: rgb(62, 220, 237);
    --hyperlink-used: rgb(29, 102, 110);
}

/*              GLOBAL HTML ELEMENTS             */
a {
    text-decoration: none;
    color: var(--hyperlink);
}
a:hover {
    color: var(--accent-color);
}

a:visited{
    color: var(--hyperlink-used);
}

p, footer {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, header, main a{
    font-family: 'Ubuntu', sans-serif;
}
/*                     HEADER                    */
header{
    position: fixed;
    background-color: var(--bg-offset-color);
    border-radius: 0 0 2rem 2rem ;
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-flow: row wrap;
}
/*                   ANIMATIONS                  */

