/*                     TO DO                     */
/*                   VARIABLES                   */
:root {
    --bg-color: rgb(255, 255, 255);
    --bg-offset-color: rgb(237, 237, 237);
    --primary-color: rgb(67, 160, 67);
    --secondary-color: rgb(43, 124, 43);
    --accent-color: rgb(76, 181, 76);
    --hyperlink: rgb(62, 220, 237);
    --hyperlink-used: rgb(29, 102, 110);
}

/*              GLOBAL HTML ELEMENTS             */
a {
    text-decoration: none;
    color: var(--hyperlink);
}
a:hover {
    color: var(--accent-color);
}

a:visited{
    color: var(--hyperlink-used);
}

p, footer {
    font-family: 'Quicksand', sans-serif;
}

h1, h2, header, main a{
    font-family: 'Ubuntu', sans-serif;
}
body{
    margin-left: 2vmax;
    margin-right: 2vmax;
}
/*                     HEADER                    */
header{
    background-color: var(--bg-offset-color);
    border-radius: 0 0 2rem 2rem ;
    border-bottom: var(--accent-color) 2px solid;
    border-right: var(--accent-color) 2px solid;
    border-left: var(--accent-color) 2px solid;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-bottom: 1vmax;
    padding-top: 1vmax;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: available;
}

header img{
    margin-left: 1rem;
    width: 7vw;
    height: 7vw;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin-top: 2vmax;
    width: 50%;
    padding-right: 2vw;
}

header nav a{
    display: inline;
    height: min-content;
    padding: 1vmax;
    background-color: rgb(255,255,255);
    border: black 2px solid;
    border-radius: 10px;
}
/*                   ANIMATIONS                  */

