@use '../modules/typography';
@use '../themes/consumer';
@use '../modules/style';

.grocery-list-container {
    border: none;
    padding: 0;
    background-color: initial;
    display: grid;
    grid-template-areas: ". ." ". ." ". .";
}

.grocery-list-options {
    border: none;
    padding: 0;
    background-color: initial;
    display: flex;
    justify-content: space-around;
    a {
        @extend %border-accent;
        padding: 1vmax;
        margin: 1em;
    }
    span {
        color: black;
    }
}

.grocery-lists {
    @extend %border-container;
    background-color: map-get(typography.$colors, 'bg-offset');
    padding: 1vw;
    margin-bottom: 1vw;
    height: max-content;
    h1 {
        font-weight: bold;
        margin-bottom: 1em;
    }
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: space-around;
}

.empty-lists {
    h1 {
        margin-bottom: 1em;
        width: max-content;
    }
    p{
        margin-bottom: 2em;
    }
}

span[class^="fas"] {
    text-decoration: none;
}

span[class="fas fa-arrow-right"] {
    margin-right: 0;
    margin-left: 1vmax;
}

.list-overview {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
