@use '../modules/style';
@use '../modules/typography';
@use '../modules/components';

figure {
    margin-top: 1vmax;
    margin-bottom: 1vmax;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    width: auto;
    img {
        width: 15vmax;
        height: 15vmax;
    }
    figcaption {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-weight: bold;
        text-align: center;
        font-size: 3vmax;
        color: map-get(typography.$colors, 'primary');
    }
}

main {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 1.5vmin;
    img {
        @extend %border-accent;
        height: 12vw;
        min-width: 10rem;
        width: 12vw;
        min-height: 10rem;
        margin-left: 2vmax;
    }
    article {
        h1 {
            color: map-get(typography.$colors, 'secondary');
            font-size: 3vw;
            margin-bottom: 1vw;
        }
        p {
            margin-bottom: 0.5vmax;
        }
        a {
            display: inline-block;
            margin-top: 1vmax;
            margin-left: 0;
        }
    }
}
